<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="Context" connectionString="data source=.;initial catalog=DataBaseRF;MultipleActiveResultSets=True;App=EntityFramework;user id=rfuser;password=rfuser0201" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="contato@clubedoseducadores.com.br" deliveryMethod="Network">
        <network
          host="smtp.zoho.com"
          port="587"
          defaultCredentials="false"
          userName="contato@clubedoseducadores.com.br" password="zoho444educa!"
          enableSsl="true"
          />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>