
@{
    ViewBag.Title = "Sobre";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.Menu = "Sobre";
    ViewBag.PageTitle = "Quem Somos";
    ViewBag.PageDescription = "Somos uma equipe focada em oferecer soluções e facilidades para sua carreira pública";
}

<h4>
    Clube dos Educadores é um sistema especializado em oferecer soluções para o dia a dia dos funcionários públicos da Secretaria Municipal de Educação, São Paulo - SP.
</h4>

<h4>
    Somos um grupo independente, motivados a partir das necessidades dos funcionários da SME em prover soluções inovadoras, portanto não temos vínculo algum com a prefeitura ou sindicatos.
</h4>

<label style="margin-top: 50px;">
    Telefones/WhatsApp: (11) 98201-0816 / (11) 98602-4048
    <br />
    E-mail: contato@clubedoseducadores.com.br
</label>